/* Write your CSS here */
.team-matches {
  background: #d91c1f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.team-image {
  width: 80%;
}
.ul1 {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
